*{
    margin: 0;
    padding: 0;
}
body{
    padding: 40px;
    background-color: rgb(3, 65, 104);
    color: white;
}
h1{
    font-size: 35px;
    font-weight: 800;
}
li{
    font-size: 20px;
    font-weight: 500;
    list-style: none;
}
li a{
    color: #000;
}
li a:hover{
    color: white;
    text-decoration: none;
}
